// Color Palette
// ================================
$body-color: #444 !default;

$color-1: #faf8ff !default;
$color-2: #273c75 !default;
$color-3: #cae5f1 !default;
$color-4: #4caf50 !default;

$html-color: #72ccee !default;
$css-color: #72ccee !default;
$sass-color: #72ccee !default;
$js-color: #72ccee !default;
$jquery-color: #72ccee !default;


// Breakpoints
// ================================
$bp-mobile: 600px;
$bp-tablet: 800px;
$bp-desktop: 1100px;