.about-me {
  padding: 0 0 cre(60px);

  @include breakpoint($bp-mobile) {
    padding: cre(100px) 0;
  }

  .container {
    display: flex;
    flex-flow: column-reverse;

    @include breakpoint($bp-mobile) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  h2 {
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: cre(40px);

    &::after {
      content: '';
      background-color: $color-5;
      width: 60%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  p {
    margin-bottom: cre(40px);
  }

  .about-me-left {
    max-width: 100%;
    padding: cre(20px);
    position: relative;
    z-index: 1;

    @include breakpoint($bp-mobile) {
      max-width: 46%;
      padding: 0;
    }
  }

  .about-me-right {
    max-width: 100%;
    position: relative;

    @include breakpoint($bp-mobile) {
      max-width: 46%;

      &::before {
        content: '';
        background-color: $color-2;
        width: 160%;
        height: calc(100% - 100px);
        position: absolute;
        top: 50%;
        right: -10%;
        transform: translateY(-50%);
      }
    }

    .profile-image {
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      position: relative;
      z-index: 1;
    }
  }
}

.section-title {
  display: inline-block;
  padding-bottom: 1rem;
  position: relative;

  &::after {
    content: '';
    background-color: $color-5;
    width: 60%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}