.skills {
  background-color: $color-2;
  padding: cre(80px) 0;
  text-align: center;

  > p {
    margin-bottom: cre(40px);
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
  }

  .skills-left,
  .skills-right {
    width: 100%;
    max-width: 45%;
  }

  .skills-left {

  }

  .skills-right {

  }

  .skills-item {
    margin-bottom: cre(30px);

    .skills-label {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: cre(4px);

      .skills-name {}
      .skills-percent {}
    }

    .skills-bar {
      background-color: $color-4;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
      width: 100%;
      height: cre(8px);
      position: relative;

      &::before {
        content: '';
        background-color: $color-5;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &.html {

        &.animate-skill {

          &::before {
            animation: progress-html 2s;
            animation-fill-mode: forwards;
          }
        }
      } // .html

      &.css {

        &.animate-skill {

          &::before {
            animation: progress-css 2s;
            animation-fill-mode: forwards;
          }
        }
      } // .css

      &.sass {

        &.animate-skill {

          &::before {
            animation: progress-sass 3s;
            animation-fill-mode: forwards;
          }
        }
      } // .sass

      &.js {

        &.animate-skill {

          &::before {
            animation: progress-js 1s;
            animation-fill-mode: forwards;
          }
        }
      } // .js

      &.jquery {

        &.animate-skill {

          &::before {
            animation: progress-jquery 1.5s;
            animation-fill-mode: forwards;
          }
        }
      } // .jquery

      &.wordpress {

        &.animate-skill {

          &::before {
            animation: progress-wordpress 1s;
            animation-fill-mode: forwards;
          }
        }
      } // .wordpress
    }
  }
}