.learning {
  padding: cre(200px) 0;

  h2 {
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: cre(40px);

    &::after {
      content: '';
      background-color: $color-5;
      width: 60%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .learning-left {
    width: 100%;
    max-width: 48%;
    position: relative;

    &::before {
      content: '';
      background-color: rgba($color-2, 0.6);
      width: 110%;
      height: calc(100% - 20px);
      position: absolute;
      bottom: -5%;
      left: 5%;
    }
  }

  .learning-right {
    width: 100%;
    max-width: 46%;
    position: relative;
    z-index: 1;
  }

  .post-image {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
  }
}