.learning {
  padding: 0 0 cre(60px);

  @include breakpoint($bp-mobile) {
    padding: cre(200px) 0;
  }

  h2 {
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: cre(40px);

    &::after {
      content: '';
      background-color: $color-5;
      width: 60%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .container {
    display: flex;
    flex-flow: column;

    @include breakpoint($bp-mobile) {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  .learning-left {
    width: 100%;
    position: relative;

    @include breakpoint($bp-mobile) {
      max-width: 48%;

      &::before {
        content: '';
        background-color: rgba($color-2, 0.6);
        width: 110%;
        height: calc(100% - 20px);
        position: absolute;
        bottom: -5%;
        left: 5%;
      }
    }
  }

  .learning-right {
    width: 100%;
    padding: cre(20px);
    position: relative;
    z-index: 1;

    @include breakpoint($bp-mobile) {
      max-width: 46%;
      padding: 0;
    }
  }

  .post-image {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
  }
}