// About me section
// =========================
.about-me {
  padding: cre(100px) 0;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: cre(40px);

    &::after {
      content: '';
      background-color: $color-5;
      width: 60%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  p {
    margin-bottom: cre(40px);
  }

  .about-me-left {
    max-width: 46%;
    position: relative;
    z-index: 1;
  }

  .about-me-right {
    max-width: 46%;
    position: relative;

    &::before {
      content: '';
      background-color: $color-2;
      width: 160%;
      height: calc(100% - 100px);
      position: absolute;
      top: 50%;
      right: -10%;
      transform: translateY(-50%);
    }

    .profile-image {
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      position: relative;
      z-index: 1;
    }
  }
}

.section-title {
  display: inline-block;
  padding-bottom: 1rem;
  position: relative;

  &::after {
    content: '';
    background-color: $color-5;
    width: 60%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

// My skills section
// =========================
.skills {
  background-color: $color-2;
  padding: cre(80px) 0;
  text-align: center;

  > p {
    margin-bottom: cre(40px);
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
  }

  .skills-left,
  .skills-right {
    width: 100%;
    max-width: 45%;
  }

  .skills-left {

  }

  .skills-right {

  }

  .skills-item {
    margin-bottom: cre(30px);

    .skills-label {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: cre(4px);

      .skills-name {}
      .skills-percent {}
    }

    .skills-bar {
      background-color: $color-4;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
      width: 100%;
      height: cre(8px);
      position: relative;

      &::before {
        content: '';
        background-color: $color-5;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &.html {

        &.animate-skill {

          &::before {
            animation: progress-html 2s;
            animation-fill-mode: forwards;
          }
        }
      } // .html

      &.css {

        &.animate-skill {

          &::before {
            animation: progress-css 2s;
            animation-fill-mode: forwards;
          }
        }
      } // .css

      &.sass {

        &.animate-skill {

          &::before {
            animation: progress-sass 3s;
            animation-fill-mode: forwards;
          }
        }
      } // .sass

      &.js {

        &.animate-skill {

          &::before {
            animation: progress-js 1s;
            animation-fill-mode: forwards;
          }
        }
      } // .js

      &.jquery {

        &.animate-skill {

          &::before {
            animation: progress-jquery 1.5s;
            animation-fill-mode: forwards;
          }
        }
      } // .jquery

      &.wordpress {

        &.animate-skill {

          &::before {
            animation: progress-wordpress 1s;
            animation-fill-mode: forwards;
          }
        }
      } // .wordpress
    }
  }
}

// Learning section
// =========================
.learning {
  padding: cre(200px) 0;

  h2 {
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: cre(40px);

    &::after {
      content: '';
      background-color: $color-5;
      width: 60%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .learning-left {
    width: 100%;
    max-width: 48%;
    position: relative;

    &::before {
      content: '';
      background-color: rgba($color-2, 0.6);
      width: 110%;
      height: calc(100% - 20px);
      position: absolute;
      bottom: -5%;
      left: 5%;
    }
  }

  .learning-right {
    width: 100%;
    max-width: 46%;
    position: relative;
    z-index: 1;
  }

  .post-image {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
  }
}

// CTA section
// =========================
.cta-section {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-image: url('/images/jose-guerra-typing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2rem 0;
  min-height: cre(300px);
  position: relative;

  &::before {
    content: '';
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.45), rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}


// Projects section
// =========================
.projects {
  padding: cre(80px) 0;
  text-align: center;
  position: relative;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: cre(600px);
  }
}

.project-item {
  flex: 1 0 auto;
  background-color: rgba($color-5, 1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  max-width: 48%;
  max-height: 0;
  margin-bottom: cre(20px);
  min-height: cre(225px);
  padding: 2rem;
  transition: 0.7s ease;

  &.expand {
    min-height: auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0,0,0);
    z-index: 99;
  }
}

// CSS animations
// =========================
@keyframes progress-html {
  from {width: 0}
  to {width: 95%}
}

@keyframes progress-css {
  from {width: 0}
  to {width: 85%}
}

@keyframes progress-sass {
  from {width: 0}
  to {width: 90%}
}

@keyframes progress-js {
  from {width: 0}
  to {width: 80%}
}

@keyframes progress-jquery {
  from {width: 0}
  to {width: 80%}
}

@keyframes progress-wordpress {
  from {width: 0}
  to {width: 85%}
}